:root {
    --text-dark: #00000080;
    --text-light: #fff;

    --bg-dark: #00000080;
    --bg-light: #ffffff;

    --bg-grey: #2d3440;
    --bg-grey-transparent: #2d34408c;
    --bg-grey-light: #737e90;

    --main: #eec568;
}
