.searchFilterContainer {
    position: relative;
    display: flex;
    align-items: center;

    .closeIcon {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        width: 32px;
        height: 32px;
        cursor: pointer;
    }
}
